<%include partials/header%>

<div class="ui main text container">
	<div class="ui huge header"><%= blog.title %></div>
	<div class="ui top attached segment">
		<div class="item">
			<img class="ui centered rounded image" src="<%= blog.image %>">	
			<div class="content"><%= blog.created.toDateString()%></div>
		</div>
		<div class="description">
			<p></p>
			<p><%- blog.body %></p>
		</div>
	</div>
	<a href="/blogs/<%= blog._id %>/edit" class="ui black basic button">Edit</a>
	<form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST"  id="delete">
		<button class="ui red basic button" type="Submit">Delete</button>
	</form>
</div>

<%include partials/footer%>
